.photo-grid {
  grid-area: photogrid;
  width: 100%;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 16px;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .photo-grid {
    gap: 14px;

  }
}




