.header {
  grid-area: header;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 0;
  margin-bottom: -50px;
  outline: 1px solid green;
}
