.lead__image {
position: relative;
width: 100%;
max-width: 984px;
padding-bottom: 48%;
margin: 64px 48px 8px;
background-image: url(../../../images/title-img__girl-in-coupe.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
/* display: flex;
justify-content: center;
align-items: flex-start; */
outline: 1px solid white;
}
